*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #a48374;
    text-align: center;
    
     
}
.container{

height: 70vh;
 display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
     text-align: center;
    box-shadow: 0 0 1vmin #00000070; 
    font-size: 10vmin;
    color: #ffffc7 ;
}
#reset{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1vmin #00000070;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #ffffc7 ;
    color: rgb(226, 111, 35);
    cursor: pointer;
}
#new-btn{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1vmin #00000070;
    font-family: Arial, Helvetica, sans-serif; 
    background-color:#ffffc7 ;
    color: rgb(226, 111, 35);
    cursor: pointer;
}
.msg-container{
   height: 100vmin;
   display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #a48374;
    padding: 2rem 4rem;
    text-align: center;
}
#msg{
    font-size: 8vmin;
    font-weight: bold;
    color: #ffffc7 ;
}
.hide{
    display: none;
}

